
.split-screen {
    display: flex;
    height: 100vh; /* Full height of the viewport */
  }

.left-section, .right-section {
    flex: 1; /* Equal width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width/height calculations */
  }

.left-section {
    background-color: #f0f0f0; /* Light gray */
  }


  
.right-section {
    background-color: #d0e0f0; /* Light blue */
}


