.coordinate-container {
    padding: 20px;
}

.coordinate-container h3 {
    text-align: center;        /* Center text within the h3 */
    margin: 0;                 /* Remove default margin for better alignment */
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px; /* Same size for both buttons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.pagination-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.pagination-button:disabled {
    background-color: #ccc; /* Gray color for disabled state */
    cursor: not-allowed; /* Change cursor to not-allowed */
}


/* new style for ul */

.coordinates-list {
    list-style-type: none;
    padding: 0;
}

.coordinate-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.coordinate-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
    color: #333;
}

.value {
    color: #555;
}

